.headerTitle {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.highlight {
  color: #252424;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.subtitle {
  color: #2f3133;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.2rem;
  font-weight: bold;
}

.headerNav {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

.headerButton {
  background-color: #3f81d0;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.headerButton:hover {
  background-color: #2c5e9e;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .headerTitle {
    align-items: center;
    text-align: center;
  }
  
  .headerNav {
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .headerNav {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  .subtitle {
    font-size: 0.9rem;
  }
}
